*{

    margin: 0;
    padding: 0;
    color: whitesmoke;
    background: #651fff
}

#All{
    background: #651fff;
    color: whitesmoke;
}
#Main{
    align-items: center;
}

h3{
    margin-top: 40% ;
}

h3,h5 {
   
    padding-left:100px;
}
#email{
    color: black;

}

form{
    
    margin-bottom: -1;
    margin-top: -1;
    
    
}

.makeitwhite , .arrange{
    color: white;
    text-decoration: none;
    

}
#loginBtn a{
    text-decoration: none;

    color: white;
}

